<div class="card">
    <a href="/pokemon.html?id={{id}}">
    <div class="pokemon-img">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{id}}.png" alt="{{name}}"/>
    </div>
    </a>
    <div class="information">
        <p>{{ name }}</p>
        <p>No. {{id}}</p>
    </div>
</div>

